body {
  margin: 0;
  font-family: Helvetica;
  font-size: 11pt;
}

#main {
  white-space: nowrap;
}

.node {
  display: inline-block;
  background: linear-gradient(white, #ccddff);
  margin: 2px;
  padding: 2px;
  position: relative;
  border-radius: 4px;
  border: 1px solid darkGray;

  &.selected {
    border-width: 2px;
    box-shadow: 0 0 4px darkGray;
    padding: 1px;
    border-color: black;

    &, & .node {
      background: linear-gradient(white, #ffeebb);
    }
  }
}